<%- include("header") %> 
<div class="about-container">
    <div class="about">
    <div class="about-image">
        <img src="img/ankur.png" alt="">
    </div>
    <div class="about-info">
        <h3>Ankur Solanki</h3>
        A web developer who likes to keep and simple and clean. Currently doing BCA from Maharaja Surajmal Institute 
    </div>
    <a class="btn btn-lg btn-contact"  href="mailto:solanank@email.com" >Connect with me</a>
</div>
</div>
<%- include("footer") %> 